@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #edeef0;
}


.image-container:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.image-card:hover .image-select {
  opacity: 1;
}